{% extends "adminlte/index_panel.html" %}


{% block title %}
پنل مدیریت | لیست پیام های مخاطبان
{% endblock title %}



{% block content %}
<!-- /.row -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                <h3 class="card-title">جدول کل پیام های مخاطبان</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                    </div>
                </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                <table class="table table-hover" style="font-size: 13px;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th> نام و نام خانوادگی</th>
                        <th>ایمیل</th>
                        <th>تاریخ ارسال</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if contact %}
                          {% for item in contact %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'admin_panel:contact_details_admin' id=item.id %}">{{ item.name }}</a></td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.jcreated_at }}</td>
                              </tr>
                          {% endfor %}
                        {% else %}
                            <td colspan="8"><p>پیامی ندارین :)</p></td>
                        {% endif %}
                    </tbody>
                </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
{% endblock content %}