{% extends "products/index.html" %}
{% load static %}


{% block title %}
  سفارش {{ order.id }}
{% endblock %}

{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'products/img/breadcrumb.jpg' %}">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="breadcrumb__text">
                  <h2>جزئیات سفارش</h2>
                  <div class="breadcrumb__option">
                      <a href="{% url 'product:home' %}">خانه</a>
                      <a href="{% url 'order_list' %}">لیست سفارشات</a>
                      <span>جزئیات سفارش</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 table-responsive">
                <table class="table">
                    <tr>
                        <th>تاریخ سفارش</th>
                        <td>{{ order.jcreated_at }}</td>
                    </tr>
                    <tr>
                        <th>کاربر</th>
                        <td>{{ order.first_name }} {{ order.last_name }}</td>
                    </tr>
                    <tr>
                        <th>ایمیل</th>
                        <td>{{ order.user.email }}</td>
                    </tr>
                    <tr>
                        <th>آدرس</th>
                        <td>{{ order.address }}</td>
                    </tr>
                    <tr>
                        <th>کد پستی</th>
                        <td>{{ order.postal_code }}</td>
                    </tr>
                    <tr>
                        <th>مبلغ کل</th>
                        <td>{{ order.get_total_cost|floatformat:0 }} تومان</td>
                    </tr>
                    <tr>
                        <th>وضعیت</th>
                        <td>{% if order.paid %}پرداخت شد{% else %}پرداخت نشده است{% endif %}</td>
                    </tr>
                    <tr>
                        <th>کد تخفیف</th>
                        <td>{% if order.coupon %} کد {{order.coupon}} با تخفیف {{order.discount}} درصدی  {% else %}ندارد{% endif %}</td>
                    </tr>
                    <tr>
                        <th>کد سفارش</th>
                        <td><b>{{ order.order_code }}</b></td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-12 table-responsive">
                <h2 class="mb-2 bold">محصولات خریداری شده</h2>
                <table class="table" style="width:100%">
                    <thead>
                        <tr>
                            <th>محصول</th>
                            <th>قیمت</th>
                            <th>تعداد</th>
                            <th>کل</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.items.all %}
                            <tr class="row{% cycle '1' '2' %}">
                                <td><a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a></td>
                                <td class="num">{{ item.price }} تومان</td>
                                <td class="num">{{ item.quantity }}</td>
                                <td class="num">{{ item.get_cost }} تومان</td>
                            </tr>
                        {% endfor %}
                        <tr class="total">
                            <td colspan="3">مبلغ قابل پرداخت</td>
                            <td class="num">{{ order.get_total_cost|floatformat:0  }} تومان</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}