{% extends "products/index.html" %}

{% block title %}
  تغییر گذر واژه
{% endblock title %}

{% block content %}
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>ثبت نام</h2>
                </div>
            </div>
        </div>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 col-md-6">
                <label for="oldpassword">رمز عبور قدیمی:</label>
                <input id="oldpassword" name="oldpassword" type="password" placeholder="گذرواژه کنونی">
                </div>
                <div class="col-lg-6 col-md-6">
                <label for="password1"> رمز عبور جدید:</label>
                <input id="password1" name="password1" type="password" placeholder="گذرواژه جدید">
                </div>
                <div class="col-lg-6 col-md-6">
                <label for="password2">رمز عبور جدید(تکرار):</label>
                <input id="password2" name="password2" type="password" placeholder="گذرواژه جدید(تکرار)">
                </div>
            </div>
            <button class="site-btn" type="submit" name="action">تغییر</button>
            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                        (<strong>{{ field.label|escape }}</strong>)
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        </form>
    </div>
</div>
{% endblock content %}  