{% extends "admin/base_site.html" %}

{% block title %}
  سفارش {{ order.id }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">شروع</a> &rsaquo;
    <a href="{% url 'admin:orders_order_changelist' %}">سفارشات</a>
    &rsaquo;
    <a href="{% url 'admin:orders_order_change' order.id %}">سفارش {{ order.id }}</a>
    &rsaquo; جزئیات
  </div>
{% endblock %}

{% block content %}
<h1>سفارش {{ order.id }}</h1>
<ul class="object-tools">
  <li>
    <a href="#" onclick="window.print();">چاپ سفارش</a>
  </li>
</ul>
<table>
  <tr>
    <th>تاریخ سفارش</th>
    <td>{{ order.jcreated_at }}</td>
  </tr>
  <tr>
    <th>کاربر</th>
    <td>{{ order.first_name }} {{ order.last_name }}</td>
  </tr>
  <tr>
    <th>ایمیل</th>
    <td><a href="mailto:{{ order.email }}">{{ order.user.email }}</a></td>
  </tr>
  <tr>
    <th>آدرس</th>
    <td>{{ order.address }}</td>
  </tr>
  <tr>
    <th>کد پستی</th>
    <td>{{ order.postal_code }}</td>
  </tr>
  <tr>
    <th>مبلغ کل</th>
    <td>{{ order.get_total_cost|floatformat:0 }} تومان</td>
  </tr>
  <tr>
    <th>وضعیت</th>
    <td>{% if order.paid %}پرداخت شد{% else %}پرداخت نشده است{% endif %}</td>
  </tr>
  <tr>
      <th>کد تخفیف</th>
      <td>{% if order.coupon %} کد {{order.coupon}} با تخفیف {{order.discount}} درصدی  {% else %}ندارد{% endif %}</td>
  </tr>
  <tr>
    <th>کد سفارش</th>
    <td>{{ order.order_code }}</td>
  </tr>
</table>

<div class="module">
  <h2>محصولات خریداری شده</h2>
  <table style="width:100%">
    <thead>
      <tr>
        <th>محصول</th>
        <th>قیمت</th>
        <th>تعداد</th>
        <th>کل</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr class="row{% cycle '1' '2' %}">
          <td>{{ item.product.name }}</td>
          <td class="num">{{ item.price }} تومان</td>
          <td class="num">{{ item.quantity }}</td>
          <td class="num">{{ item.get_cost }} تومان</td>
        </tr>
      {% endfor %}
      <tr class="total">
        <td colspan="3">مبلغ قابل پرداخت</td>
        <td class="num">{{ order.get_total_cost|floatformat:0 }} تومان</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}