{% extends "products/index.html" %}
{% load static %}
{% load base_tags %}

{% block title %}
  لیست محصولات
{% endblock title %}

{% block content %}

        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-section set-bg" data-setbg="{% static 'products/img/breadcrumb.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>لیست محصولات</h2>
                            <div class="breadcrumb__option">
                                <a href="{% url 'product:home' %}">خانه</a>
                                <span>فروشگاه</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->
    
        <!-- Product Section Begin -->
        <section class="product spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <div class="sidebar">
                            <div class="sidebar__item">
                                <h4>دسته بندی ها</h4>
                                <ul class="container">
                                    <li>
                                        <div>
                                            <a href="{% url 'product:product_list' %}">همه</a>
                                        </div>
                                        
                                    </li> 
                                    <li>
                                        {% for cate in categories %}
                                            {% if cate.parent == None %}
                                                <button class="dropdown-btn">{{ cate.name }}
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                                <div class="dropdown-container">
                                                    {% for child in cate.children.all %}
                                                        <a href="{{ child.get_absolute_url }}">{{ child.name }}</a>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar__item">
                                <h4>برند</h4>
                                {% for br in brands %}
                                    <div class="sidebar__item__size">
                                        <label for="large">
                                            <a href="{{ br.get_absolute_url }}">{{ br.name }}</a>
                                            <input type="radio" id="large">
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="sidebar__item">
                                <div class="latest-product__text">
                                    <h4>آخرین محصولات</h4>
                                    <div class="latest-product__slider owl-carousel">
                                        <div class="latest-prdouct__slider__item">
                                            {% last_product %}
                                        </div>
                                        <div class="latest-prdouct__slider__item">
                                            {% last_product %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-7">
                        <div class="product__discount">
                            <div class="section-title product__discount__title">
                                <h2>تخفیف ها</h2>
                            </div>
                            <div class="row">
                                <div class="product__discount__slider owl-carousel">
                                    {% discount_product %}
                                </div>
                            </div>
                        </div>
                        <div class="product__item row">
                            {% for pro in page_obj %}
                                {% if pro.discount_status %}
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__discount__item">
                                            <div class="product__discount__item__pic set-bg"
                                                data-setbg="{{ pro.image.url }}">
                                                <div class="product__discount__percent">-{{ pro.discount }}</div>
                                                <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="product__discount__item__text">
                                                <a href="{{ pro.get_absolute_url }}"><h6>{{ pro.name }}</h6></a>
                                                <div class="product__item__price mt-1" style="direction: rtl;">{{ pro.price }} تومان<span class="px-1"> {{ pro.befor_discount }}تومان</span></div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__discount__item">
                                            <div class="product__item__pic set-bg" data-setbg="{{ pro.image.url }}">
                                                <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="product__item__text">
                                                <h6><a href="{{ pro.get_absolute_url }}">{{ pro.name }}</a></h6>
                                                <h5>{{ pro.price }}  تومان</h5>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        <div class="col-12 product__pagination">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-long-arrow-right"></i></a>
                                {% if page_obj.number > 3 %}
                                    <a href="?page=1">1</a>
                                {% endif %}
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <span class="current">
                                        <a href="" style="background-color: #7fad39; color: #fff;">{{ page_obj.number }}</a>
                                    </span>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                    <a href="?page={{num}}">{{num}}</a>
                                {% endif %}
                            {% endfor %}


                            {% if page_obj.has_next %}
                                {% if page_obj.number < 3 %}
                                    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                                {% endif %}
                                <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-long-arrow-left"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Product Section End -->
{% endblock content %}


 